body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#container{
    flex-direction: column;
    display: flex;
}

.row{
    display: flex;
    }

.square {
    background-color: peachpuff;
    border: 1px brown solid;
    width: 37px;
    height: 37px;
}

.square:hover{
    background-color: chocolate;
    
}