body{
    background-color: rgba(198, 32, 134, 0.537);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#container{
    flex-direction: column;
    display: flex;
    background-color: whitesmoke;
    padding: 2px;
    border: 2px #9b29d040 solid;
    border-radius: 10px;
}

.row{
    display: flex;
    }

.square {
    background-color: white;
    border: 1px beige solid;
    width: 37px;
    height: 37px;
}

.header-controls{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 50px;
}

.main-header{
    font-size: 48px;
    font-family: FANGSONG;
    color: white;
}

button{
    width: fit-content;
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgba(241, 235, 239, 0.537);
    color: #0d0605;
    font-size: 18px;
}