body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#container{
    flex-direction: column;
    display: flex;
}

.row{
    display: flex;
    }

.square {
    background-color: peachpuff;
    border: 1px brown solid;
    width: 37px;
    height: 37px;
}

.header-controls{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 50px;
}